go 1.26.3

use (
	./agent
	./chatmemory
	./core
	./documentreaders
	./documentreaders/html
	./documentreaders/markdown
	./documentreaders/pdf
	./lyra
	./mcp
	./models
	./otel
	./pkg
	./rag
	./tools
	./vectorstores
)
